.autoComplete {
	position: absolute;
	width: 100%;
	left: 0;
}

.autoComplete_popup {
	@include border-radius(8px);
	@include transform(translateY(0));
	@include transition(transform 300ms, opacity 300ms, z-index 300ms);
	opacity: 0;
	z-index: -1;
	position: absolute;
	background: #fff;
	color: #555;
    white-space: nowrap;
    max-width: calc(100% - 20px);
    bottom: 0;
    overflow: hidden;

    @for $i from 0 through 10 {
    	&[data-cursor-pos="#{$i}"] .autoComplete_suggestion:nth-child(#{$i + 1}) {

    		background: #eee;
    	}
	}

	&.-visible {
		opacity: 1;
		@include transform(translateY(-10px));
		z-index: 10;
	}

	&::after {
		content: "";
		border-top: 10px solid #fff;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		position: absolute;
		top: 100%;
		left: 20%;
	}
}

.autoComplete_suggestion {
	@include transition(background 300ms);
	background: #fff;
	display: block;
	padding: 10px;
	border-top: 1px solid #ccc;

	&:first-child {
		border-top: none;
		@include border-radius(8px 8px 0 0);
	}

	&:last-child {
		@include border-radius(0 0 8px 8px);
	}
}
