.chatWindow {
	color: #e7fff7;
}

.chatWindow_sidebar {
	float: left;
	min-width: 200px;
	width: 25%;
	background: darken(#263238, 3);
	-webkit-font-smoothing: antialiased;
}

.chatWindow_sidebar {
	overflow-y: auto;
	height: 100vh;
}

.chatWindow_main {
	overflow-y: auto;
	height: 100vh;
}

