.message {
	@include transition(opacity 300ms, transform 300ms);
	@include border-radius(8px);

	margin: 10px 40px 10px 0;
	background: lighten(#263238, 10);
	overflow: hidden;

	&.-you {
		margin: 10px 0 10px 40px;
		background: #2f6e8e;
	}

	&.-old {
		opacity: 0.3;
		&:hover {
			opacity: 8;
		}
	}

	&.-system {
		margin: 10px 0;
		background: #e7fff7;
		color: #263238;
	}

	&.-anim {
		@include animation(message-animLeft 1000ms infinite);

		&.-you {
			@include animation(message-animRight 1000ms infinite);
		}
	}
}

.message_sender {
	background: rgba(0,0,0,.2);
	padding: 10px;
}

.message_text {
	padding: 10px;
}

.message_time {
	float:right;
	padding: 10px;
	opacity: 0.7;
}

@include keyframes(message-animLeft) {
	from {
		opacity: 0;
		@include transform(translateX(-33%));
	}

	50% {
		@include transform(translateX(0));
	}

	to {
		opacity: 1;
	}
}

@include keyframes(message-animRight) {
	from {
		opacity: 0;
		@include transform(translateX(33%));
	}

	50% {
		@include transform(translateX(0));
	}

	to {
		opacity: 1;
	}
}
