$message-border-radius: 1em;

.message {
	@include transition(opacity 300ms, transform 300ms);

	margin: 10px 0;
	padding-right: 100px;

	&.-you {
		// margin: 10px 0 10px 40px;
		text-align: right;
		padding: 0;

		.message_text {
			@include border-radius($message-border-radius 0 $message-border-radius $message-border-radius);
			margin-right: 0px;
			background: #2f6e8e;
		}
	}

	&.-old {
		opacity: 0.3;
		&:hover {
			opacity: 8;
		}
	}

	&.-sameSender, &.-you, &.-system {
		.message_sender {
			display: none;
		}
	}

	&.-timestamped {
		.message_time {
			display: block;
		}
	}

	&.-system {
		padding: 0px;
		opacity: .5;

		.message_text {
			@include border-radius($message-border-radius);
			margin-left: 0px;
			margin-right: 0px;
			background: #e7fff7;
			color: #263238;
			display: block;
		}
	}

	&.-anim {
		@include animation(message-animLeft 1000ms 1);

		&.-you {
			@include animation(message-animRight 1000ms 1);
		}

		&.-system {
			@include animation(message-animSystem 2000ms 1);
		}
	}
}

.message_sender {
	padding: 10px;
	display: block;
}

.message_text {
	@include border-radius(0 $message-border-radius $message-border-radius $message-border-radius);
	background: lighten(#263238, 10);
	max-width: 100%;
	overflow-x: auto;
	padding: 10px 1em;
	text-align: left;
	display: inline-block;

	> span {
		> p {
			margin-top: 0px;
			margin-bottom: 0px;

			& + p {
				margin-top: 1em;
			}
		}

		code, pre {
			text-align: left;
		}

		a {
			color: #fff;
		}

		img {
			@include border-radius(5px);
			max-width: 100%;
		}
	}
}

.message_time {
	@include transition(opacity 300ms);
	padding: 5px 10px;
	display: none;
	text-align: center;
	font-size: .7em;
	opacity: 0.5;
	border-bottom: 1px dashed #678898;
	margin-bottom: 10px;

	&:hover {
		opacity: 1;
	}
}

@include keyframes(message-animSystem) {
	from {
		opacity: 0;
		@include transform(scale(.5, .5));
	}

	20% {
		@include transform(scale(1.1, 1.1));
	}

	30% {
		opacity: 1;
		@include transform(scale(1, 1));
	}

	100% {
		opacity: .5;
	}
}

@include keyframes(message-animLeft) {
	from {
		opacity: 0;
		@include transform(translateX(-33%));
	}

	50% {
		@include transform(translateX(0));
	}

	to {
		opacity: 1;
	}
}

@include keyframes(message-animRight) {
	from {
		opacity: 0;
		@include transform(translateX(33%));
	}

	50% {
		@include transform(translateX(0));
	}

	to {
		opacity: 1;
	}
}
