.search {
	position: absolute;
	left: 0;
	width: 100%;
	height: 0;
}

.search_popup {
	background: linear-gradient( rgba( 255, 255, 255, .3), #fff );
	bottom: 9px;
	position: absolute;
	height: 240px;
	width: 100%;
	box-shadow: 0 2px 5px rgba(100,100,100,0.5);
	overflow-y: auto;
	left: 100%;
	transition: left 300ms;
	opacity: 0;
	min-width: 300px;
	padding-bottom: 15px;
}



.search_overflow {
	overflow-y: auto;
	height: 220px;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
}

.search_results {
	display: flex;
	white-space: nowrap;
	padding: 10px 5px;
	max-height: 100%;
}

.search_result {
	margin: 0 5px;
	display: inline-block;
	max-height: 100%;

	> img {
		max-height: 100%;
	}
}

.search_popup.-visible {
	left: 0;
	opacity: 1;
}

.search_giphyLogo {
	bottom: 0px;
	right: 0px;
	position: absolute;
	background: #fff;
}
