.sidebarBlock {

}

.sidebarBlock_heading {
	margin: 0;
	padding: 10px 10%;
	color: #aaa;
    font-size: 1em;
}

.sidebarBlock_content {
	@include transition(max-height 300ms);
	max-height: 1000px;
	overflow-y: hidden;

	&.-closed {
		max-height: 0;
	}
}

.sidebarBlock_item {
	@include transition(background 300ms);
	background: transparent;
	cursor: pointer;
	font-size: 15px;
	padding: 5px 10%;
	color: #fff;

	&.-active {
		background: #666;
	}
}

.sidebarBlock_itemTitle {

}

.sidebarBlock_itemBadge {
	@include transform(scale(1, 1));
	@include transition(opacity 300ms, transform 300ms);
	@include animation(ircSidebar_item-popUp 300ms 1);
	@include border-radius(2em);

	opacity: 1;
	text-align: center;
	line-height: 1.5em;
	background: #ff5312;
	color: #fff;
	float: right;
	width: 1.5em;
	height: 1.5em;

	&.-empty {
		@include transform(scale(0, 0));
		opacity: 0;
	}
}

@include keyframes(sidebarBlock_itemBadge-popUp) {
	from {
		@include transform(scale(0, 0));
		opacity: 0;
	}

	70% {
		@include transform(scale(1.1, 1.1));
	}

	to {
		@include transform(scale(1, 1));
		opacity: 1;
	}
}
