$tabset_tabHeight: 60px;

.tabset {
	height: 100%;
}

.tabset_tabs {
	@include box-shadow(0 0 3px rgba(0,0,0,.3));
	overflow-y: hidden;
	background: #c76060;
	height: $tabset_tabHeight;
}

.tabset_tab {
	@include transition(background 300ms);
	background: transparent;
	height: 100%;
	display: inline-block;
	line-height: 40px;
	padding: 10px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 2;

	&:hover {
		background: transparentize(#ff7777, .8);
	}

	&.-selected {
		background: #ff7777;
		color: #fff;

		&::before {
			@include transform(scale(1, 1));
			opacity: 1;
		}
	}

	&::before {
	    @include transform(scale(0, 0));
	    @include transition(transform 500ms, opacity 500ms);
	    @include border-radius(100px);
		z-index: -1;
	    opacity: .5;
	    content: "";
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    width: 200px;
	    height: 200px;
	    background: #ff7777;
	    margin-left: -100px;
	    margin-top: -100px;
	}
}

.tabset_contents {
	height: calc(100% - #{$tabset_tabHeight});
}

.tabset_view {
	display: none;
	height: 100%;

	&.-selected {
		display: block;
	}
}