$tabset_tabHeight: 50px;

.tabset {
	height: 100%;
}

.tabset_tabs {
	-webkit-app-region: drag;
	@include box-shadow(0 0 3px rgba(0,0,0,.3));
	overflow-y: hidden;
	background: #607bc7;
	height: $tabset_tabHeight;
}

.tabset_tab {
	@include transition(background 300ms);
	background: transparent;
	height: 100%;
	display: inline-block;
	line-height: #{$tabset_tabHeight - 20px};
	padding: 10px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 2;
	color: #fff;

	&:hover {
		background: transparentize(#718fe2, .8);
	}

	&.-selected {
		background: #718fe2;

		&::before {
			@include transform(scale(1, 1));
			opacity: 1;
		}
	}

	&::before {
	    @include transform(scale(0, 0));
	    @include transition(transform 500ms, opacity 500ms);
	    @include border-radius(100px);
		z-index: -1;
	    opacity: .5;
	    content: "";
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    width: 200px;
	    height: 200px;
	    background: #718fe2;
	    margin-left: -100px;
	    margin-top: -100px;
	}
}

.tabset_tabClose {
	@include border-radius(10px);
	@include transition(background 300ms);
	width: 20px;
	height: 20px;
	display: inline-block;
	font-style: normal;
	vertical-align: middle;
    text-align: center;
    line-height: 20px;
	background: rgba(255,255,255,0);

	&::before {
		@include transition(opacity 300ms);
		content: "×";
		opacity: .4;
	    vertical-align: middle;
	}

	&:hover {
		background: rgba(255,255,255,.3);

		&::before {
			opacity: 1;
		}
	}
}

.tabset_contents {
	height: calc(100% - #{$tabset_tabHeight});
}

.tabset_view {
	display: none;
	height: 100%;

	&.-selected {
		display: block;
	}
}
