@charset "UTF-8";
/* line 3, ../../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../../scss/main.scss */
body, html {
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
}

/* line 15, ../../scss/main.scss */
html, input, textarea, button, select {
  font-size: 18px;
  font-family: sans-serif;
}

/* line 21, ../../scss/main.scss */
.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
}
/* line 26, ../../scss/main.scss */
.clearfix::after {
  clear: both;
}

/* line 1, ../../scss/blocks/_autoComplete.scss */
.autoComplete {
  position: absolute;
  width: 100%;
  left: 0;
}

/* line 7, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: -moz-transform 300ms, opacity 300ms, z-index 300ms;
  -o-transition: -o-transform 300ms, opacity 300ms, z-index 300ms;
  -webkit-transition: -webkit-transform 300ms, opacity 300ms, z-index 300ms;
  transition: transform 300ms, opacity 300ms, z-index 300ms;
  opacity: 0;
  z-index: -1;
  position: absolute;
  background: #fff;
  color: #555;
  white-space: nowrap;
  max-width: calc(100% - 20px);
  bottom: 0;
  overflow: hidden;
}
/* line 22, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup[data-cursor-pos="0"] .autoComplete_suggestion:nth-child(1) {
  background: #eee;
}
/* line 22, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup[data-cursor-pos="1"] .autoComplete_suggestion:nth-child(2) {
  background: #eee;
}
/* line 22, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup[data-cursor-pos="2"] .autoComplete_suggestion:nth-child(3) {
  background: #eee;
}
/* line 22, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup[data-cursor-pos="3"] .autoComplete_suggestion:nth-child(4) {
  background: #eee;
}
/* line 22, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup[data-cursor-pos="4"] .autoComplete_suggestion:nth-child(5) {
  background: #eee;
}
/* line 22, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup[data-cursor-pos="5"] .autoComplete_suggestion:nth-child(6) {
  background: #eee;
}
/* line 22, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup[data-cursor-pos="6"] .autoComplete_suggestion:nth-child(7) {
  background: #eee;
}
/* line 22, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup[data-cursor-pos="7"] .autoComplete_suggestion:nth-child(8) {
  background: #eee;
}
/* line 22, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup[data-cursor-pos="8"] .autoComplete_suggestion:nth-child(9) {
  background: #eee;
}
/* line 22, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup[data-cursor-pos="9"] .autoComplete_suggestion:nth-child(10) {
  background: #eee;
}
/* line 22, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup[data-cursor-pos="10"] .autoComplete_suggestion:nth-child(11) {
  background: #eee;
}
/* line 28, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup.-visible {
  opacity: 1;
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  z-index: 10;
}
/* line 34, ../../scss/blocks/_autoComplete.scss */
.autoComplete_popup::after {
  content: "";
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: 100%;
  left: 20%;
}

/* line 45, ../../scss/blocks/_autoComplete.scss */
.autoComplete_suggestion {
  -moz-transition: background 300ms;
  -o-transition: background 300ms;
  -webkit-transition: background 300ms;
  transition: background 300ms;
  background: #fff;
  display: block;
  padding: 10px;
  border-top: 1px solid #ccc;
}
/* line 52, ../../scss/blocks/_autoComplete.scss */
.autoComplete_suggestion:first-child {
  border-top: none;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px;
  border-radius: 8px 8px 0 0;
}
/* line 57, ../../scss/blocks/_autoComplete.scss */
.autoComplete_suggestion:last-child {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0;
  border-radius: 0 0 8px 8px;
}

/* line 1, ../../scss/blocks/_chatWindow.scss */
.chatWindow {
  color: #585858;
}

/* line 5, ../../scss/blocks/_chatWindow.scss */
.chatWindow_sidebar {
  float: left;
  width: 200px;
  padding-top: 50px;
  min-width: 150px !important;
  max-width: 66% !important;
  background: #444;
  overflow-y: auto;
  height: 100vh;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
/* line 18, ../../scss/blocks/_chatWindow.scss */
.chatWindow_sidebar::before {
  content: "";
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  cursor: move;
}

/* line 30, ../../scss/blocks/_chatWindow.scss */
.chatWindow_sidebarGrab {
  cursor: col-resize;
  height: 100%;
  background: #333;
  width: 5px;
  background: transparent;
  position: absolute;
  right: 0px;
  top: 0px;
}

/* line 42, ../../scss/blocks/_chatWindow.scss */
.chatWindow_main {
  overflow-y: auto;
  height: 100vh;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: relative;
}

/* line 4, ../../scss/blocks/_ircWindow.scss */
.ircWindow {
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* line 10, ../../scss/blocks/_ircWindow.scss */
.ircWindow_chatArea {
  padding: 10px;
  max-height: calc(100% - 100px);
  position: absolute;
  bottom: 100px;
  width: 100%;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 21, ../../scss/blocks/_ircWindow.scss */
.ircWindow_inputArea {
  background: #eee;
  position: absolute;
  bottom: 0px;
  height: 100px;
  padding: 10px 10px 0px;
  width: 100%;
  left: 0px;
}

/* line 31, ../../scss/blocks/_ircWindow.scss */
.ircWindow_textInput {
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  margin: 0;
  padding: 10px;
  height: 80px;
  resize: none;
  width: calc(100% - 10px - 50px);
  opacity: 0.5;
}
/* line 43, ../../scss/blocks/_ircWindow.scss */
.ircWindow_textInput:hover, .ircWindow_textInput:focus, .ircWindow_textInput:active {
  opacity: 1;
}

/* line 49, ../../scss/blocks/_ircWindow.scss */
.ircWindow_button {
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -moz-transition: -moz-transform 300ms, opacity 300ms;
  -o-transition: -o-transform 300ms, opacity 300ms;
  -webkit-transition: -webkit-transform 300ms, opacity 300ms;
  transition: transform 300ms, opacity 300ms;
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  opacity: .7;
}
/* line 60, ../../scss/blocks/_ircWindow.scss */
.ircWindow_button:hover {
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 65, ../../scss/blocks/_ircWindow.scss */
.ircWindow_button.-send {
  background: #3bb16a;
}
/* line 69, ../../scss/blocks/_ircWindow.scss */
.ircWindow_button.-people {
  background: #acccd0;
}

/* line 74, ../../scss/blocks/_ircWindow.scss */
.ircWindow_buttonArea {
  float: right;
  width: 50px;
}

/* line 79, ../../scss/blocks/_ircWindow.scss */
.ircWindow_contactArea {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: -moz-transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms, z-index 300ms;
  -o-transition: -o-transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms, z-index 300ms;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms, z-index 300ms;
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms, z-index 300ms;
  -moz-transform: scale(0.1, 0.1);
  -ms-transform: scale(0.1, 0.1);
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -moz-transform-origin: 80% 100%;
  -ms-transform-origin: 80% 100%;
  -webkit-transform-origin: 80% 100%;
  transform-origin: 80% 100%;
  opacity: 0;
  z-index: -1;
  color: #263238;
  min-width: 100px;
  min-height: 150px;
  background: #b7cbd6;
  position: absolute;
  bottom: 60px;
  right: 20px;
  max-height: calc(100vh - 130px);
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 108, ../../scss/blocks/_ircWindow.scss */
.ircWindow_contactArea.-open {
  z-index: 5;
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 116, ../../scss/blocks/_ircWindow.scss */
.ircWindow_contact {
  -moz-transition: background 300ms;
  -o-transition: background 300ms;
  -webkit-transition: background 300ms;
  transition: background 300ms;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0);
}
/* line 121, ../../scss/blocks/_ircWindow.scss */
.ircWindow_contact:hover {
  background: white;
}

/* line 5, ../../scss/blocks/_sidebarBlock.scss */
.sidebarBlock_heading {
  margin: 0;
  padding: 10px 10%;
  color: #aaa;
  font-size: 1em;
}

/* line 12, ../../scss/blocks/_sidebarBlock.scss */
.sidebarBlock_content {
  -moz-transition: max-height 300ms;
  -o-transition: max-height 300ms;
  -webkit-transition: max-height 300ms;
  transition: max-height 300ms;
  max-height: 1000px;
  overflow-y: hidden;
}
/* line 17, ../../scss/blocks/_sidebarBlock.scss */
.sidebarBlock_content.-closed {
  max-height: 0;
}

/* line 22, ../../scss/blocks/_sidebarBlock.scss */
.sidebarBlock_item {
  -moz-transition: background 300ms;
  -o-transition: background 300ms;
  -webkit-transition: background 300ms;
  transition: background 300ms;
  background: transparent;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 10%;
  color: #fff;
}
/* line 30, ../../scss/blocks/_sidebarBlock.scss */
.sidebarBlock_item.-active {
  background: #666;
}

/* line 39, ../../scss/blocks/_sidebarBlock.scss */
.sidebarBlock_itemBadge {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  -o-transition: opacity 300ms, -o-transform 300ms;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  -moz-animation: ircSidebar_item-popUp 300ms 1;
  -webkit-animation: ircSidebar_item-popUp 300ms 1;
  animation: ircSidebar_item-popUp 300ms 1;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  opacity: 1;
  text-align: center;
  line-height: 1.5em;
  background: #ff5312;
  color: #fff;
  float: right;
  width: 1.5em;
  height: 1.5em;
}
/* line 54, ../../scss/blocks/_sidebarBlock.scss */
.sidebarBlock_itemBadge.-empty {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  opacity: 0;
}

@-moz-keyframes sidebarBlock_itemBadge-popUp {
  from {
    -moz-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
  }
  70% {
    -moz-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  to {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes sidebarBlock_itemBadge-popUp {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
  }
  70% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes sidebarBlock_itemBadge-popUp {
  from {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
  }
  70% {
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  to {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
/* line 3, ../../scss/blocks/_message.scss */
.message {
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  -o-transition: opacity 300ms, -o-transform 300ms;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  margin: 10px 0;
  padding-right: 100px;
}
/* line 9, ../../scss/blocks/_message.scss */
.message.-you {
  text-align: right;
  padding: 0;
}
/* line 14, ../../scss/blocks/_message.scss */
.message.-you .message_text {
  -moz-border-radius: 1em 0 1em 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em 0 1em 1em;
  margin-right: 0px;
  background: #eee;
}
/* line 21, ../../scss/blocks/_message.scss */
.message.-old {
  opacity: 0.3;
}
/* line 23, ../../scss/blocks/_message.scss */
.message.-old:hover {
  opacity: 8;
}
/* line 29, ../../scss/blocks/_message.scss */
.message.-sameSender .message_sender, .message.-you .message_sender, .message.-system .message_sender {
  display: none;
}
/* line 35, ../../scss/blocks/_message.scss */
.message.-timestamped .message_time {
  display: block;
}
/* line 40, ../../scss/blocks/_message.scss */
.message.-system {
  padding: 0px;
  opacity: .5;
}
/* line 44, ../../scss/blocks/_message.scss */
.message.-system .message_text {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  margin-left: 0px;
  margin-right: 0px;
  background: #a2ffbe;
  color: #001005;
  display: block;
}
/* line 54, ../../scss/blocks/_message.scss */
.message.-anim {
  -moz-animation: message-animLeft 1000ms 1;
  -webkit-animation: message-animLeft 1000ms 1;
  animation: message-animLeft 1000ms 1;
}
/* line 57, ../../scss/blocks/_message.scss */
.message.-anim.-you {
  -moz-animation: message-animRight 1000ms 1;
  -webkit-animation: message-animRight 1000ms 1;
  animation: message-animRight 1000ms 1;
}
/* line 61, ../../scss/blocks/_message.scss */
.message.-anim.-system {
  -moz-animation: message-animSystem 2000ms 1;
  -webkit-animation: message-animSystem 2000ms 1;
  animation: message-animSystem 2000ms 1;
}

/* line 67, ../../scss/blocks/_message.scss */
.message_sender {
  padding: 10px;
  display: block;
}

/* line 72, ../../scss/blocks/_message.scss */
.message_text {
  -moz-border-radius: 0 1em 1em 1em;
  -webkit-border-radius: 0;
  border-radius: 0 1em 1em 1em;
  background: #b9e8ff;
  max-width: 100%;
  overflow-x: auto;
  padding: 10px 1em;
  display: inline-block;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}
/* line 87, ../../scss/blocks/_message.scss */
.message_text > span > p {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 91, ../../scss/blocks/_message.scss */
.message_text > span > p + p {
  margin-top: 1em;
}
/* line 96, ../../scss/blocks/_message.scss */
.message_text > span code, .message_text > span pre {
  text-align: left;
}
/* line 100, ../../scss/blocks/_message.scss */
.message_text > span a {
  color: #4c79e6;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}
/* line 110, ../../scss/blocks/_message.scss */
.message_text > span img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  max-width: 100%;
}

/* line 117, ../../scss/blocks/_message.scss */
.message_time {
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  padding: 5px 10px;
  display: none;
  text-align: center;
  font-size: .7em;
  opacity: 0.5;
  border-bottom: 1px dashed #212d33;
  margin-bottom: 10px;
}
/* line 127, ../../scss/blocks/_message.scss */
.message_time:hover {
  opacity: 1;
}

@-moz-keyframes message-animSystem {
  from {
    opacity: 0;
    -moz-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  20% {
    -moz-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  30% {
    opacity: 1;
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    opacity: .5;
  }
}
@-webkit-keyframes message-animSystem {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  20% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    opacity: .5;
  }
}
@keyframes message-animSystem {
  from {
    opacity: 0;
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  20% {
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  30% {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    opacity: .5;
  }
}
@-moz-keyframes message-animLeft {
  from {
    opacity: 0;
    -moz-transform: translateX(-33%);
    transform: translateX(-33%);
  }
  50% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes message-animLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-33%);
    transform: translateX(-33%);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 1;
  }
}
@keyframes message-animLeft {
  from {
    opacity: 0;
    -moz-transform: translateX(-33%);
    -ms-transform: translateX(-33%);
    -webkit-transform: translateX(-33%);
    transform: translateX(-33%);
  }
  50% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes message-animRight {
  from {
    opacity: 0;
    -moz-transform: translateX(33%);
    transform: translateX(33%);
  }
  50% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes message-animRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(33%);
    transform: translateX(33%);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 1;
  }
}
@keyframes message-animRight {
  from {
    opacity: 0;
    -moz-transform: translateX(33%);
    -ms-transform: translateX(33%);
    -webkit-transform: translateX(33%);
    transform: translateX(33%);
  }
  50% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 1;
  }
}
/* line 3, ../../scss/blocks/_tabset.scss */
.tabset {
  height: 100%;
}

/* line 7, ../../scss/blocks/_tabset.scss */
.tabset_tabs {
  -webkit-app-region: drag;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  overflow-y: hidden;
  background: #607bc7;
  height: 50px;
}

/* line 15, ../../scss/blocks/_tabset.scss */
.tabset_tab {
  -moz-transition: background 300ms;
  -o-transition: background 300ms;
  -webkit-transition: background 300ms;
  transition: background 300ms;
  background: transparent;
  height: 100%;
  display: inline-block;
  line-height: 30px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 2;
  color: #fff;
}
/* line 28, ../../scss/blocks/_tabset.scss */
.tabset_tab:hover {
  background: rgba(113, 143, 226, 0.2);
}
/* line 32, ../../scss/blocks/_tabset.scss */
.tabset_tab.-selected {
  background: #718fe2;
}
/* line 35, ../../scss/blocks/_tabset.scss */
.tabset_tab.-selected::before {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
/* line 41, ../../scss/blocks/_tabset.scss */
.tabset_tab::before {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transition: -moz-transform 500ms, opacity 500ms;
  -o-transition: -o-transform 500ms, opacity 500ms;
  -webkit-transition: -webkit-transform 500ms, opacity 500ms;
  transition: transform 500ms, opacity 500ms;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  z-index: -1;
  opacity: .5;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  background: #718fe2;
  margin-left: -100px;
  margin-top: -100px;
}

/* line 59, ../../scss/blocks/_tabset.scss */
.tabset_tabClose {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: background 300ms;
  -o-transition: background 300ms;
  -webkit-transition: background 300ms;
  transition: background 300ms;
  width: 20px;
  height: 20px;
  display: inline-block;
  font-style: normal;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
  background: rgba(255, 255, 255, 0);
}
/* line 71, ../../scss/blocks/_tabset.scss */
.tabset_tabClose::before {
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  content: "×";
  opacity: .4;
  vertical-align: middle;
}
/* line 78, ../../scss/blocks/_tabset.scss */
.tabset_tabClose:hover {
  background: rgba(255, 255, 255, 0.3);
}
/* line 81, ../../scss/blocks/_tabset.scss */
.tabset_tabClose:hover::before {
  opacity: 1;
}

/* line 87, ../../scss/blocks/_tabset.scss */
.tabset_contents {
  height: calc(100% - 50px);
}

/* line 91, ../../scss/blocks/_tabset.scss */
.tabset_view {
  display: none;
  height: 100%;
}
/* line 95, ../../scss/blocks/_tabset.scss */
.tabset_view.-selected {
  display: block;
}

/* line 1, ../../scss/blocks/_search.scss */
.search {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
}

/* line 8, ../../scss/blocks/_search.scss */
.search_popup {
  background: linear-gradient(rgba(255, 255, 255, 0.3), #ffffff);
  bottom: 9px;
  position: absolute;
  height: 240px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(100, 100, 100, 0.5);
  overflow-y: auto;
  left: 100%;
  transition: left 300ms;
  opacity: 0;
  min-width: 300px;
  padding-bottom: 15px;
}

/* line 25, ../../scss/blocks/_search.scss */
.search_overflow {
  overflow-y: auto;
  height: 220px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

/* line 34, ../../scss/blocks/_search.scss */
.search_results {
  display: flex;
  white-space: nowrap;
  padding: 10px 5px;
  max-height: 100%;
}

/* line 41, ../../scss/blocks/_search.scss */
.search_result {
  margin: 0 5px;
  display: inline-block;
  max-height: 100%;
}
/* line 46, ../../scss/blocks/_search.scss */
.search_result > img {
  max-height: 100%;
}

/* line 51, ../../scss/blocks/_search.scss */
.search_popup.-visible {
  left: 0;
  opacity: 1;
}

/* line 56, ../../scss/blocks/_search.scss */
.search_giphyLogo {
  bottom: 0px;
  right: 0px;
  position: absolute;
  background: #fff;
}
